{% extends "list-layout.html" %}
{% set data_name = 'category' %}

{% block list_content %}
  <table class="cp-list" id="{{ data_name }}-list">
    <colgroup>
      <col />
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
  {%~ for item in data %}
      <tr>
        <th class="cl-action cl-primary">
          <a href="{{ url_for(data_name ~ '-view', {id: item.id}) }}">{{ item.name }}</a>
        </th>
      </tr>
  {%~ endfor %}
    </tbody>
  </table>
{% endblock %}