{% extends "layout.html" %}

{% block title %}Category Form : Update{% endblock %}

{# add css for category form #}
{% block head %}
    {{~ parent() }}
    <link rel="stylesheet" type="text/css"
      href="{{ base_path() }}/css/category/form.css" />
{% endblock %}

{% block header %}
  <h1>{{ block('title') }}</h1>
{% endblock %}

{% block content %}
  <form class="cp-form" id="category-form" action="{{ url_for('category-update', {id: data.id}) }}" method="post">
    <div class="cp-wrapper">
      <label>
        <span>Name</span>
        <input type="text" name="name" value="{{ data.name }}" />
      </label>
    </div>
    <div class="cp-actions-panel">
      <button class="cl-primary" type="submit">Save</button>
      <span class="cp-space"></span>
      <a class="cp-button" href="{{ url_for('category-list') }}">Cancel</a>
    </div>
  </form>
{% endblock %}
