{# extend main layout #}
{% extends "layout.html" %}

{% block title %}Product View{% endblock %}

{# add css for product form #}
{% block head %}
    {{~ parent() }}
    <link rel="stylesheet" type="text/css"
      href="{{ base_path() }}/css/product/view.css" />
{% endblock %}

{% block header %}
  <h1>{{ block('title') }}</h1>
{% endblock %}

{% block content %} 
  {%- if data is empty %}
  <p>Product not found!!!</p>
  {%~ else %}
  <div class="cp-actions-panel">
    <a class="cp-button cl-decent" href="{{ url_for('product-update-form', {id: data.id}) }}" >Update Product</a>
    <a class="cp-button cl-warn" href="" >Delete Product</a>
    <span class="cp-space"></span>
    <a class="cp-button" href="{{ url_for('product-list') }}" >&lt; Back</a>
  </div>
  <p class="cp-detail" id="product-view">
    <span class="cl-label">Name:</span>
    <span class="cl-value">{{ data.name }}</span>
    <br />
    <span class="cl-label">Category:</span>
    <span class="cl-value">{{ data.category_name }}</span>
    <br />
    <span class="cl-label">Price:</span>
    <span class="cl-value cl-number">{{ data.price|number_format(2) }}</span>
    <br />
    <span class="cl-label">Quantity:</span>
    <span class="cl-value cl-number">{{ data.qty|number_format(0) }}&nbsp;&nbsp;&nbsp;</span>
    <br />
  </p>
  {%~ endif %}
{% endblock %}
