{% extends "layout.html" %}

{% block title %}Product Form : Update{% endblock %}

{# add css for product form #}
{% block head %}
    {{~ parent() }}
    <link rel="stylesheet" type="text/css"
      href="{{ base_path() }}/css/product/form.css" />
{% endblock %}

{% block header %}
  <h1>{{ block('title') }}</h1>
{% endblock %}

{% block content %}
  <form class="cp-form" id="product-form" action="{{ url_for('product-update', { id: data.id }) }}" method="post">
    <div class="cp-wrapper">
      <label>
        <span>Name</span>
        <input type="text" name="name" value="{{ data.name }}" />
      </label>
    </div>
    <div class="cp-wrapper">
      <label>
        <span>Category</span>
        <select name="id_category">
        {% for category in categoryList %}
          <option value="{{ category.id }}"{{ (category.id == data.id_category)? ' selected' : '' }}>{{ category.name }}</option>
        {% endfor %}
        </select>
      </label>
    </div>
    <div class="cp-wrapper">
      <label>
        <span>Price</span>
        <input type="number" step="0.01" class="cl-number" name="price" value="{{ data.price }}"/>
      </label>
    </div>
    <div class="cp-wrapper">
      <label>
        <span>Quantity</span>
        <input type="number" step="1" class="cl-number" name="qty" value="{{ data.qty }}" />
      </label>
    </div>
    <div class="cp-actions-panel">
      <button class="cl-primary" type="submit">Save</button>
      <span class="cp-space"></span>
      <a class="cp-button" href="{{ url_for('product-view', {id: data.id}) }}">Cancel</a>
    </div>
  </form>
{% endblock %}
